<header id="section-home">
    <nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-transparent" role="navigation" (scroll)="onWindowScroll($event)">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="Warrior Center Logo" class="d-inline-block align-middle mr-3 nav-logo">
                <span class="d-none d-md-inline-block">WARRIOR CENTER</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#section-home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-about">NEW HERE?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-events">VISIT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-sermons">LISTEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-contact">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://warriorcenter.churchcenter.com/giving" target="_blank">GIVE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
