<footer class="footer text-center">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12">
                <a class="footer-icons" href="https://play.google.com/store">
                    <i class="fab fa-google-play fa-2x"></i>
                </a>
                <a class="footer-icons" href="https://www.apple.com/ios/app-store/">
                    <i class="fab fa-apple fa-2x"></i>
                </a>
                <a class="footer-icons" href="https://www.facebook.com/warriorcenteronline">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a class="footer-icons" href="https://www.youtube.com/channel/UCzBVwfztKEDW8HqZjW3D6Bw/">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright">Copyright &copy; 2020 Warrior Center Christian Fellowship. All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>