#section-sermons {
    padding: 7rem 0;
    background-color: #ffffff;
}

.sermon-item {
    margin-bottom: 2rem;
}

.sermon-item:last-of-type {
    margin-bottom: 0;
}

.sermon-audio {
    background-color: rgba(239, 241, 242, 1);
}

.sermon-audio audio {
    width: 100%;
}

.sermon-title {
    font-family: 'Montserrat-Bold';
    font-size: 1.25rem;
    text-transform: uppercase;
}

.sermon-scripture {
    font-family: 'Montserrat-Thin';
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .sermon-item {
        margin-bottom: 0;
    }
}