<section id="section-about" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 about-item px-4">
                <i class="fas fa-cross fa-5x"></i>
                <h2>NEW HERE?</h2>
                <p class="text-center">At Warrior Center, our focus is loving God and loving people. Our services typically 
                    last about an hour and half - and they consist of prayer, worship through music, 
                    preaching, and fellowship. If you have children, we offer Kids Church - where your 
                    children will learn about Jesus, and have a whole lot of fun doing so. If 
                    you have any questions, feel free to contact us at any time.</p>
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="#section-contact" role="button">
                        <i class="fas fa-envelope-open-text fa-sm mr-1"></i> CONTACT US
                    </a>
                </p>
            </div>
            <div class="col-xl-4 col-lg-6 about-item px-4">
                <i class="fas fa-hand-holding-usd fa-5x"></i>
                <h2>MAKE A DIFFERENCE</h2>
                <p class="text-center">We believe in helping our community, and we encourage you to prayerfully consider 
                    partnering with us financially for this cause. You can be a financial partner in providing food 
                    and clothing to the homeless, backpacks and school supplies to children in need, 
                    toys at Christmas time for low-income families, and so much more. Together we can 
                    make a difference in this world.</p>
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="https://warriorcenter.churchcenter.com/giving" role="button" target="_blank">
                        <i class="fas fa-money-bill-wave fa-sm mr-1"></i> DONATE
                    </a>
                </p>
            </div>
            <div class="col-xl-4 col-lg-12 about-item px-4">
                <i class="fas fa-globe-americas fa-5x"></i>
                <h2>CHANGE THE WORLD</h2>
                <p class="text-center">Our church is a proud partner and supporter of PC Global Network - a network of 4300 
                    churches. Through PC Global, we are involved in 30 nations, including Mexico, Estonia, 
                    Romania, Germany, Hong Kong, and more. We are fulfilling the Great Commission by 
                    collaborating with pastors, networks and ministries to multiply church planting worldwide.</p>
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="https://pcglobalnetwork.com/" role="button" target="_blank">
                        <i class="fas fa-info-circle fa-sm mr-1"></i> LEARN MORE
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>