#section-about {
    padding: 7rem 0;
    background-color: #ffffff;
}

.about-item {
    margin-bottom: 2rem;
}

.about-item:last-of-type {
    margin-bottom: 0;
}

.about-item h2 {
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.about-item a {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .about-item a {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .about-item {
        margin-bottom: 0;
    }
}