<section id="section-contact" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 contact-item">
                <i class="fas fa-church fa-5x"></i>
                <h4>Service Times</h4>
                <p>Sundays at 10:00 AM<br>Wednesdays at 7:00 PM</p>
            </div>
            <div class="col-lg-3 col-md-6 contact-item">
                <i class="fas fa-map-marked-alt fa-5x"></i>
                <h4>Location</h4>
                <p>14515 Blaine Avenue<br>Bellflower, CA 90706</p>
            </div>
            <div class="col-lg-3 col-md-6 contact-item">
                <i class="fas fa-envelope fa-5x"></i>
                <h4>E-mail</h4>
                <p><a href="mailto:info@warriorcenter.org">info@warriorcenter.org</a><br><a href="mailto:pastor@warriorcenter.org">pastor@warriorcenter.org</a></p>
            </div>
            <div class="col-lg-3 col-md-6 contact-item">
                <i class="fas fa-sms fa-5x"></i>
                <h4>Call or Text</h4>
                <p><a href="tel:5626442343">(562) 644-2343</a><br><a href="tel:7142135784">(714) 213-5784</a></p>
            </div>
        </div>
    </div>
</section>