/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111111;
}

::selection {
    background: #111111;
    color: #ffffff;
}

::-moz-selection {
    background: #111111; 
    color: #ffffff;
}
.section-title {
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
    margin: 0 0 3rem 0;
}

@media (min-width: 768px) {
    .section-title::before, .section-title::after {
        background: #111111;
        content: "";
        display: inline-block;
        height: 1px;
        vertical-align: super;
        width: 3rem;
        margin: 0 1rem;
    }
}